*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:fantasy;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 175%;
}
.me{
    border: 1px solid black;
    padding: 40px 5px 5px 5px;
    margin: 10px;
    float:left;
    position:relative;
}
section > section{
    border: 1px solid black;
    padding:3px;
    background-color: yellow;
    position: absolute; top: 0px; right: 0px;
    text-align: center;
    font-size: 125%;
    width:36%;
}
.one{
    background-color: aquamarine;
}
.two{
    background-color: plum;
}
@media (min-width: 992px) {
    .me{
        width: 31%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .me{
        width: 47%;
    }
    .me#name{
        width:100%;
    }
}
@media (max-width: 767px){
    .me{
        width: 100%;
    }
}
