*{
    box-sizing:border-box;
}
body{
    margin:0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 175%;
}
.me{
    border: 1px solid black;
    padding:30px 5px 5px 5px;
    margin: 10px 10px 10px 10px;
    float:left;
    position:relative;
}
section > section{
    border: 1px solid black;
    padding:5px;
    background-color: yellow;
    position: absolute; top: 0px; right: 0px;
    text-align: center;
    font-size: 125%;
}
.zero{
    margin:10px 0px 10px 0px;
}
.one{
    background-color: aquamarine;
}
.two{
    background-color: plum;
}
@media (min-width: 937px) {
    .me{
        width: 33.33%;
    }
}
@media (min_width: 768px) and (max-width: 936px){
    .me{
        width:50%;
    }
    .two{
        width:100%;
    }
}
@media (max-width: 767px){
    .me{
        width: 100%;
    }
}
